### Alvin's cleaning data

In [1]:
# load helpful packages 
import pandas as pd # data processing
import numpy as np # linear algebra

In [2]:
# load dataset
df=pd.read_csv("/Users/tanjamarkotic/Desktop/Border_Crossing_Entry_Data.csv")
# "each row has a counting ("Value") for the crossing method ("Measure")"
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value
0,Warroad,Minnesota,3423,US-Canada Border,06/01/2019 12:00:00 AM,Truck Containers Full,133
1,Warroad,Minnesota,3423,US-Canada Border,06/01/2019 12:00:00 AM,Truck Containers Empty,298
2,Warroad,Minnesota,3423,US-Canada Border,06/01/2019 12:00:00 AM,Personal Vehicles,10383
3,Warroad,Minnesota,3423,US-Canada Border,06/01/2019 12:00:00 AM,Personal Vehicle Passengers,19459
4,Warroad,Minnesota,3423,US-Canada Border,06/01/2019 12:00:00 AM,Pedestrians,2

In [3]:
# check data types of features
df.dtypes

Port Name    object
State        object
Port Code     int64
Border       object
Date         object
Measure      object
Value         int64
dtype: object

In [ ]:
# convert 'Date' to date format
df['Date'] = pd.to_datetime(df['Date'])
# recheck data type of 'Date'
df.dtypes

In [ ]:
# check if 2 possible values for 'Border'?
# check years included in dataset?

In [ ]:
df.head()

In [0]:
# Look for missing values
df.isnull().any()

In [0]:
# check if number of unique elements in "Port Code" and "Port Name" equal 
print('port names : {}' .format(len(df['Port Name'].unique())))
print('port codes : {}' .format(len(df['Port Code'].unique())))

In [0]:
ports = df[['Port Code','Port Name']].drop_duplicates()
ports[ports['Port Name'].duplicated(keep=False)]

In [0]:
df.loc[df['Port Name'] == 'Eastport'].drop_duplicates(['Port Code'], keep='first')

In [0]:
# change 'Port Name' of Eastport Idaho and Eastport Maine
df.loc[(df['Port Name'] == 'Eastport') & (df['State'] == 'Idaho'), 'Port Name'] = 'Eastport_ID'
df.loc[(df['Port Name'] == 'Eastport') & (df['State'] == 'Maine'), 'Port Name'] = 'Eastport_MA'
df.loc[(df['Port Code'] == 3302) | (df['Port Code'] == 103)].drop_duplicates(['Port Code'], keep='first')

In [0]:
# recheck if number of unique elements in "Port Code" and "Port Name" equal 
print('port names : {}' .format(len(df['Port Name'].unique())))
print('port codes : {}' .format(len(df['Port Code'].unique())))

### EDA
Careful on:
- "Among the 'Measure' types, 'Personal Vehicle Passengers', 'Bus Passengers','Pedestrians' and 'Train Passengers' count people, whereas the others count vehicles."
- tableau avec selon Border, les measures et les diffÃ©rentes somme de value?
- data from 1996 to 2019

In [ ]:
# check number of unique elements in 'Measure' 
print('Measure types : {}' .format(len(df['Measure'].unique())))
df['Measure'].unique()

In [ ]:
# number of people or vehicles depending on the measure
df_measure = df[['Measure','Value']].groupby('Measure').sum()
df_measure

In [ ]:
# number of people or vehicles depending on border
df_measure = df[['Border','Value']].groupby(['Border']).sum()
df_measure

In [ ]:
# separate measure of people counting
people = df[df['Measure'].isin(['Personal Vehicle Passengers', 'Bus Passengers','Pedestrians', 'Train Passengers'])]

In [ ]:
# number of people depending on border
df_people = people[['Border','Value']].groupby('Border').sum()
df_people

In [ ]:
# piechart?

In [ ]:
# consider people counting measure, sum value and set date as index
df_date = people[['Date','Border','Value']].set_index('Date')
# group by date and border
df_date = df_date.groupby(['Date', 'Border']).sum()
df_date.head(10)

In [ ]:
# consider people counting measure, sum value and set date.year as index
df_date_year = people[['Date','Border','Value']].set_index('Date')

# group by date.year and border
df_date_year = df_date_year.groupby([df_date_year.index.year, 'Border']).sum()
df_date_year.head(10)

In [ ]:
# histogram?

In [ ]:
# consider people counting measure, sum values and set date as index
df_dm = people[['Date','Measure','Value']].set_index('Date')

# group by date.years and border
df_dm = df_dm.groupby([df_dm.index.year,'Measure']).sum()
df_dm.head(10)

In [ ]:
# histogram? 
# -> output 27